/* Thanks to Snow77, Skalpa and Leostotch for the initial work  */
/* Mor.pho.GEN.e.sis version 1.1.2 by kris (http://www.xoofoo.org and http://www.frxoops.org) */
/* file name : blocks.css (version 1.1.2) - 25 mars 2007 */

/*========== listes dans les colonnes ==========*/
.xo-canvas-column ul {
	list-style-type:				none;
	padding:							.5em;
	margin:							0;
}
.xo-canvas-column ul ul {
	padding-top:					0;
	padding-bottom:				0;
	padding-left:					1em;

}
/* ====== format des cellules dans les colonnes ========*/
.xo-canvas-column .outer, .xo-canvas-column .outer td {
	background-color:				transparent;
	border:							0 none;
	color: 							#69c;
}
.xo-canvas-column .outer, .xo-canvas-column .outer img {
	border: 							0 !important;
	padding:							0;
	margin:							0;
}
/*===== Styles Colonne de Gauche =======*/
#xo-canvas-leftcolumn {
	/*border-right:					1px solid #efefef;*/
	text-align: 					left;
	background-color: 			transparent;
}
#xo-canvas-leftcolumn .xo-block {
	padding-top:					4px;
	margin-right:					11px;
	margin-bottom:					10px;
}
#xo-canvas-leftcolumn .xo-blocktitle {
	padding-left:					6px;
	padding-bottom:				5px;
	background-color: 			inherit;
	color: 							#95cc33;
	font-size:						1.1em;
	font-weight:					bold;
	text-align:						center;
	padding: 						1em 0 0 0;
}
#xo-canvas-leftcolumn .xo-blockcontent {
	min-height:						60px;
	padding:							2px 8px 0;
}
* html #xo-canvas-leftcolumn .xo-blockcontent { height: 110px;}
#xo-canvas-leftcolumn .xo-blockcontent a {
}
#xo-canvas-leftcolumn .xo-blockcontent a:hover {
}
#xo-canvas-leftcolumn img {
	border: 							1px solid #999;
	padding: 						3px;
	margin: 							3px 3px 0 7px;
}
#xo-canvas-leftcolumn img:hover {border: 1px solid #666; border-bottom:1px solid #666;}
/*======== Styles Colonne de Droite ========*/
#xo-canvas-rightcolumn {
	/*border-left:					1px solid #efefef;*/
	background-color: 			inherit;
	text-align: 					left;
}
#xo-canvas-rightcolumn a {}
#xo-canvas-rightcolumn a:hover {}
#xo-canvas-rightcolumn .xo-blocktitle {
	font-size:						1.1em;
	font-weight:					bold;
	color: 							#95cc33;
	background-color: 			inherit;
	text-align:						center;
	padding: 						1em 0 0 0;
}	
#xo-canvas-rightcolumn .xo-blockcontent {
	padding:							.5em;
}
#xo-canvas-rightcolumn img {
	border: 							1px solid #999;
	padding: 						3px;
	margin: 							3px 3px 0 7px;
}
#xo-canvas-rightcolumn img:hover {border: 1px solid #666; border-bottom:1px solid #666;}
/* ======= Styles du "Contenu Centre" ===========*/
#xo-page .xo-blockszone > .xo-block {}
.xo-block ul {
	margin:							0;
	padding:							0;
	list-style-type:				none;
}
#xo-page .xo-blockszone .xo-blocktitle {
	font-size:						1.2em;
	font-weight:					bold;
	color:							#95cc33;
	text-align: 					left;
	margin: 							1em .5em 0 0;
	padding:							0 .25em;
	background-color: 			inherit;
}
#xo-page .xo-blockszone .xo-blockcontent {
	padding:							.5em;
	text-align: 					justify;
}
#xo-page .xo-blockszone .xo-blockcontent img {
	border: 							1px solid #999 !important;
	padding: 						3px;
	margin: 							3px 3px 0 7px;
}
#xo-page .xo-blockszone .xo-blockcontent img:hover {
	border: 							1px solid #666 !important;
	background-color: 			#fff !important;
}
#xo-page .xo-blockszone .xo-blockcontent a {}
#xo-page .xo-blockszone .xo-blockcontent a:hover {}




