/* Thanks to Snow77, Skalpa and Leostotch for the initial work  */
/* Mor.pho.GEN.e.sis version 1.1.2 by kris (http://www.xoofoo.org and http://www.frxoops.org) */
/* file name : form.css (version 1.1.2) - 25 mars 2007 */

/*======= Style pour les formulaires, boutons, zones de texte, ... ========*/

.xo-block form {
	margin:						0;
	padding:						0;
}
#xo-content form {
	margin:						0;
	background-color:			transparent;
}

.xo-block .formButtons {
	text-align:					center;
	padding:						.5em;
}

label {
	display:						block;
	padding:						0;
	background-color:			transparent;
}
.xo-formfield {
	margin-bottom:				.2em;
	background-color:			transparent;
}
.xo-formbuttons, .formButton, button {
	color: 						#ccc;
	background-color: 		#333;
	border: 						1px solid #ccc;
}
.xo-formbuttons:hover, .formButton:hover, button:hover {
	cursor:						pointer;
	border: 						1px solid #505050 !important;
	color: 						#505050;
	background-color:			#95cc33;
}
#xo-content .xo-formfield.required label:after {
	content:						'*';
	color:						#ff0000;
	background-color: 		#fff;
}
select {
	background-color: transparent;
	font-size: 					.9em;
}
select[name=timezone_offset] {
	color:						#333;
	font-size:					.9em;
	background-color:			#fff;
}
input[type=submit], input[type=reset], input[type=button]  {
	color: 						#ccc;
	background-color: 		#333;
	border: 						1px solid #ccc;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
	cursor:						pointer;
	border: 						1px solid #505050;
	color: 						#fff;
	background-color:			#95cc33;
}
input[type=text], input[type=password], textarea {
	border:						1px solid #999;
	margin:						2px 0;
	padding-left:				.2em;
	background-color:			#fff;
	color:						#333;
}
input[type=checkbox] {
	border:						1px solid #999;
	padding-left:				.2em;
	background-color:			#fff;
	color:						#333;
}
input[type=text], input[type=password] {}
input[type=text]:hover, input[type=password]:hover {
	color:						#333 !important;
	background-color: 		#E9E9E9;
}

input[type=text]:focus, input[type=password]:focus, input[type=checkbox]:hover, textarea:focus {
	border-color:				#95cc33;
	outline:						1px solid #95cc33;
}

textarea { width: 			95%;}
label {font-weight: 			bold;}
fieldset {
	padding: 					1em;
	line-height: 				1.8em;
}
fieldset a {
	color: 						#95cc33;
	background-color: 		inherit;
	font-weight: 				bold;
	text-transform: 			uppercase;
}
fieldset a:hover {
	text-decoration: 			underline;
}
legend {
	font-size: 					1.1em;
	font-weight: 				bold;
}


